@import './variables';

// تنسيق مكون البحث حسب السعر
.ui-slider {
    margin: 25px 0 15px;
    height: 2px !important;

    // المقبضان 
  .ui-slider-handle {
    background-color: $brand-primary !important;
    border: none !important;
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    top: -6px !important;
   }

   // المجال 
  .ui-slider-range {
    border: 1px solid $brand-primary !important;
    top: -1px !important;
   }
}


// الشاشات الصغيرة والصغيرة جدا 
@media (max-width: 991px) {
    // search page 
    .ui-slider .ui-slider-handle {
        height: 20px !important;
        width: 20px !important;
        top: -10px !important;
    }
}



